html, body {
  background-color: #000;
  color: #fff;
}

.client-screen {
  min-height: 100vh;
  padding: 40px;
  text-align: center !important;
  background-color: #000;
}

input {
  padding: 10px;
  margin: 10px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

.error {
  color: red;
}
